<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience-section">
    <section class="section experience" id="experience">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Experience</h2>
                <p class="section-subtitle">
                    My professional journey and educational background
                </p>
            </div>
            <div class="timeline">

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">July 2024 - August 2024</div>
                        <h3 class="timeline-title">Java Developer (intern)</h3>
                        <h4 class="timeline-subtitle">HulkHire Tech</h4>
                        <p class="timeline-description">
                            • Tech Stack: Java, Spring Boot, Microservices, Stripe API, AWS (EC2, RDS), Bitbucket, CI/CD, REST API.
                            • Developed a Stripe-integrated payment system using Spring Boot microservices, handling 100+ daily transactions.
                            • Optimized RESTful APIs and CI/CD pipelines, improving speed by 50% and reducing failures by 30%.
                            • Deployed on AWS (EC2, RDS), reducing infrastructure costs by 20% and ensuring high availability.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">Feb 2022 - Octo 2022</div>
                        <h3 class="timeline-title">Junior Software Developer</h3>
                        <h4 class="timeline-subtitle">E-IT Professionals India Pvt Ltd (Client: TATA Autocomp Systems Ltd.</h4>
                        <p class="timeline-description">
                            • Tech Stack: Java, Spring Boot, MySQL, Selenium, REST API, Power BI, Projects
                            • Developed Automated planning with Spring Scheduler (80% time reduction) and Engineered a Selenium scraper, reducing stock mismatches by 40%.
                            • Migrated data to MySQL and built features with stakeholders, improving performance by 70%.
                        </p>
                    </div>
                </div>


                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">August 2021 - Feb 2022</div>
                        <h3 class="timeline-title">Technical Support Engineer</h3>
                        <h4 class="timeline-subtitle">Mehta and Company</h4>
                        <p class="timeline-description">
                            • Tech Stack: Excel VBA, Process Automation, Insurance Software.
                            • Automated insurance premium calculations, reducing manual effort by 60% and speeding up processing by 40%
                            • Supported 5+ insurance applications, ensuring full staff adoption and reducing documentation errors by 35%.
                            • Managed & Conducted Trained 15+ colleagues, boosting digital adoption by 25%.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">August 2018 - July 2021</div>
                        <h3 class="timeline-title">BE in Electronics & Telecommunications</h3>
                        <h4 class="timeline-subtitle">PVG's College of Engineering and Technology, Pune</h4>
                        <p class="timeline-description">
                            • Relevant Coursework: Java, Data Structures & Algorithms, Computer Networks, AI, Digital Electronics.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section>

</th:block>
</html>