<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer-section">

    <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-brand">
                    <a href="#" class="footer-logo">Ravi Dhavare</a>
                    <p class="footer-text">
                        I'm a Certified, passionate and dedicated Java Developer with over 2+ years of experience in designing, developing, and maintaining dynamic web applications and RESTful services using Java, Spring Boot, and Microservices architecture. My expertise lies in building scalable, high-performing backend systems tailored to business needs.
                    </p>
                    <div class="footer-social">
                        <a href="tel:+919876543210" class="social-link">
                            <i class="fas fa-phone-alt"></i>
                        </a>
                        <a href="mailto:ravidhavare111@gmail.com" class="social-link">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a href="http://www.linkedin.com/in/ravi-dhavare" target="_blank" class="social-link">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="http://www.github.com/ravidhavare111" target="_blank" class="social-link">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
                <div class="footer-links-container">
                    <h3 class="footer-heading">Quick Links</h3>
                    <div class="footer-links">
                        <a href="#home" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Home
                        </a>
                        <a href="#about" class="footer-link">
                            <i class="fas fa-chevron-right"></i> About
                        </a>
                        <a href="#projects" class="footer-link">
                            <i class="fas fa-chevron-right"></i> My Work
                        </a>
                        <a href="#experience" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Experience
                        </a>
                    </div>
                </div>

            </div>
            <div class="footer-bottom">
                <p>&copy; 2025 Ravi Dhavare. All rights reserved.</p>
            </div>
        </div>
    </footer>

</th:block>
</html>