<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Work</h2>
                <p class="section-subtitle">
                    Explore some of my recent projects.
                </p>
            </div>
            <div class="projects-container">
<!--                Payment Integration Project-->
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/StripePayment.png" alt="udemy">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Java</span>
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Stripe PSP</span>
                            <span class="project-tag">Data JPA</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Postman</span>
                            <span class="project-tag">Agile</span>
                            <span class="project-tag">Bitbucket</span>
                            <!--                            <span class="project-tag">HTML, CSS</span>-->
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Payment Integration Project (Stripe PSP)</h3>
                        <p class="project-description">
                            Designed and developed a secure, scalable payment integration system for an e-commerce platform using Java, Spring Boot, microservices, and Stripe API, deployed on AWS (EC2, RDS).
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/ravidhavare111/Payment_RestAPI_Integration_Project.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>


<!--                Portfolio Project-->
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/portfolio-project.jpg" alt="udemy">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Java</span>
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Thymleaf</span>
                            <span class="project-tag">Web3 forms API</span>
                            <span class="project-tag">HTML</span>
                            <span class="project-tag">CSS</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Portfolio App</h3>
                        <p class="project-description">
                            In this project, I have created my personal Portfolio webApp using Java, Spring Boot, Thymeleaf, HTML, CSS.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/ravidhavare111/Todo_App.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>


<!--            Todo App Project-->
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/todoAppImage.png" alt="udemy">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Java</span>
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Data JPA</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">thymeleaf</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Todo App</h3>
                        <p class="project-description">
                            In this project, I have created Todo App using Java, Spring Boot, JPA, MySQL, Thymeleaf.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/ravidhavare111/Todo_App.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>


<!--            Inventory & Production Automation System-->
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/TACO_automation.jpeg" alt="udemy">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Java</span>
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Selenium</span>
                            <span class="project-tag">Spring Scheduler</span>
                            <span class="project-tag">Power BI</span>
                            <span class="project-tag">Agile</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Inventory & Production Automation System</h3>
                        <p class="project-description">
                            (Client: TATA Autocomp Systems Ltd.) Built an automated inventory and production planning system using Java, Spring Boot, Selenium, and MySQL, integrating with Power BI dashboards to support real-time manufacturing decisions.
                        </p>
<!--                        <div class="project-links">-->
<!--                            <a href="https://github.com/ravidhavare111/Todo_App.git" class="project-link" target="_blank">-->
<!--                                <i class="fab fa-github"></i> View Code-->
<!--                            </a>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>


</th:block>
</html>